<div class="google-container">
    <div id="g_id_onload"
     data-client_id="897316981536-k3kj1dsqdaa1k2bk6f9oj0bcrlne8sbf.apps.googleusercontent.com"
     data-callback="handleCredentialResponse"
     data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
</div>
<br>
<!-- <div class="microsoft-contianer">
    <button (click)="login()">Login with Microsoft</button>
    <button (click)="logout()">Logout</button>
</div> -->